<div class="jumbotron">
  <h1 class="text-center"> {{ title }} </h1>
  <h4 class="text-center"> {{ subtitle }} </h4>
</div>

<div class="row d-flex justify-content-center">
  <div *ngFor="let o of operation" >
    <button (click) = "show = !show"  class="btn btn-secondary mr-2"> {{ show ? '' : '' }} {{ o }} </button>
  </div>
</div>


  <div *ngIf ="show" class="mt-5">
    <div class="container">
      <div class="d-flex justify-content-center">
          <input type="text" class="d-flex justify-content-center">
      </div>
      
      <div class="row d-flex justify-content-center mt-3">
        <div class="mr-3"> <button class="btn btn-secondary">7</button></div>
        <div class="mr-3"> <button class="btn btn-secondary">8</button></div>
        <div class="mr-3"> <button class="btn btn-secondary">9</button></div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
          <div class="mr-3"> <button class="btn btn-secondary">4</button></div>
          <div class="mr-3"> <button class="btn btn-secondary">5</button></div>
          <div class="mr-3"> <button class="btn btn-secondary">6</button></div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <div class="mr-3"> <button class="btn btn-secondary">1</button></div>
            <div class="mr-3"> <button class="btn btn-secondary">2</button></div>
            <div class="mr-3"> <button class="btn btn-secondary">3</button></div>
          </div>

        <div class="row d-flex justify-content-center mt-3">
            <div *ngFor="let b of num" class="mr-3"> 
         <button class="btn btn-secondary"> {{ b }}</button></div>
        </div>
    </div>
  </div>


